* {
  box-sizing: border-box;
}
.wraper {
  width: 1000px;
  margin: 0 auto;
}

.header {
  height: 100px;
  background: red;
  margin-bottom: 10px;
}

.main {
  margin-bottom: 10px;
}

.menu {
  float: left;
  width: 200px;
  background: black;
  color: white;
  padding: 10px;
}

.content {
  float: left;
  width: 790px;
  background: pink;
  margin-left: 10px;
}

.clearfix {
  clear: both;
}

.footer {
  background: gray;
  height: 50px;
}
